html,
body {
  box-sizing: border-box;
  background: #111111;
  color: #dddddd;
  margin: 0;
  padding: 0;
  height: 100%;
}
.canvas-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}
#canvas {
  width: 100%;
}
